# backend
backend/.gradle/
backend/build/
backend/out/

# frontend
frontend/node_modules/
frontend/dist/

# env
.env
.env.*
*.env

# env example
!.env.example
!frontend/.env.example
!backend/.env.example

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# logs
*.log

# performance test results
scripts/perf/results/